.report-form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.report-form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.report-form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.report-form-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.report-form-button:hover {
    background-color: #0056b3;
}
